In [1]:
# Import dependencies 
import pandas as pd

In [2]:
# set path to raw data file
rawdata = "Resources/purchase_data.csv"

In [3]:
# read file into pandas and see what the dataframe looks like
purchase_data = pd.read_csv(rawdata)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#check if there is any missing data rows
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [5]:
#check data types
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [6]:
#PLAYER COUNT
#calculate the number of total players
totalplayers = purchase_data['SN'].nunique()

#create a DataFrame
totalplayers_df = pd.DataFrame(
    {"Total Players": [totalplayers]
    }
)
totalplayers_df

   Total Players
0            576

In [7]:
#PURCHASING ANALYSIS
#calculate number of unique items sold
uniqueitems = purchase_data['Item Name'].nunique()

#calculate average price
averageprice = purchase_data['Price'].mean()

#calculate number of purchases
numpurchases = purchase_data['Purchase ID'].count()

#calculate total revenue
totalrevenue = purchase_data['Price'].sum()

#create a DataFrame
pa_df = pd.DataFrame(
    {"Number of Unique Items": [uniqueitems],
    "Average Price": [averageprice],
    "Number of Purchases": [numpurchases],
    "Total Revenue": [totalrevenue]
    }
)
pa_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [8]:
#create a new data frame that combines all the purchases for each player 
#so you don't have duplicates in sevreal of the lists
players = []
ages = []
genders = []

for i in range(0, len(purchase_data['SN'])):
    if purchase_data['SN'][i] not in players:
        players.append(purchase_data['SN'][i])
        ages.append(purchase_data['Age'][i])
        genders.append(purchase_data['Gender'][i])
        
        
purchase_df = pd.DataFrame(
    {"SN":players,
     "Age":ages,
     "Gender":genders        
    }
)
#if you want to check this new dataframe
#purchase_df.head()

In [9]:
#GENDER DEMOGRAPHICS
#check  your total counts
gendercounts = purchase_df['Gender'].value_counts()
gendercounts

#get the values for the males
only_males = purchase_df.loc[purchase_df["Gender"] == "Male", :]
malecount = len(only_males)
malepercent = len(only_males)/totalplayers

#get the values for the females
only_females = purchase_df.loc[purchase_df["Gender"] == "Female", :]
femalecount = len(only_females)
femalepercent = len(only_females)/totalplayers

#get the values for the males
only_other = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed", :]
othercount = len(only_other)
otherpercent = len(only_other)/totalplayers

#Create a DataFrame
gender_df = pd.DataFrame(
    {"": ["Male", "Female", "Other / Non-Disclosed"],
     "Total Count": [ malecount, femalecount, othercount],
     "Percentage of Players": [ malepercent, femalepercent, otherpercent]
    }
)
gender_df

                          Total Count  Percentage of Players
0                   Male          484               0.840278
1                 Female           81               0.140625
2  Other / Non-Disclosed           11               0.019097

In [10]:
#PURCHASING ANALYSIS GENDER

#calculate number of purchases, add each price to a list
#set the variables to 0 and then loop through data to count occurances and fill lists
malepc = 0
femalepc = 0
otherpc = 0
malepurchases = []
femalepurchases = []
otherpurchases = []

for i in range(0, len(purchase_data['Gender'])):
    if purchase_data['Gender'][i] == "Male":
        malepurchases.append(purchase_data['Price'][i])
        malepc += 1
    elif purchase_data['Gender'][i] == "Female":
        femalepurchases.append(purchase_data['Price'][i])
        femalepc += 1
    elif purchase_data['Gender'][i] == "Other / Non-Disclosed":
        otherpurchases.append(purchase_data['Price'][i])
        otherpc += 1

#get total purchase value for each gender
malesum = sum(malepurchases)
femalesum = sum(femalepurchases)
othersum = sum(otherpurchases)

#calculate average purchase price using purchase count and total purchase value
avgmale = malesum/malepc
avgfemale = femalesum/femalepc
avgother = othersum/otherpc

#use condensed gendercount variables from gender demographics to calculate per person
avgppmale = malesum/malecount
avgppfemale = femalesum/femalecount
avgppother = othersum/othercount

#create Dataframe
ga_df = pd.DataFrame(
    {"Gender": ["Male", "Female", "Other / Non-Disclosed"],
     "Purchase Count": [malepc, femalepc, otherpc],
     "Average Purchase Price": [avgmale, avgfemale, avgother],
     "Total Purchase Value": [malesum, femalesum, othersum],
     "Avg Total Purchase per Person": [avgppmale, avgppfemale, avgppother]
    }
)
ga_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Male,652,3.017853,1967.64,4.065372
1,Female,113,3.203009,361.94,4.468395
2,Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [11]:
#AGE DEMOGRAPHICS

#create the bins to separate the age group and label the bins
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#add column to dataframe that describes that shows bins
purchase_df["Age Group"] = pd.cut(purchase_df["Age"], bins, labels=bin_names, include_lowest=True)

#calculate total count and percent of total for each group
# Under 10
only1 = purchase_df.loc[purchase_df["Age Group"] == "<10", :]
count1 = len(only1)
percent1 = len(only1)/totalplayers

# 10 to 14
only2 = purchase_df.loc[purchase_df["Age Group"] == "10-14", :]
count2 = len(only2)
percent2 = len(only2)/totalplayers

# 15 to 19
only3 = purchase_df.loc[purchase_df["Age Group"] == "15-19", :]
count3 = len(only3)
percent3 = len(only3)/totalplayers

# 20 to 24
only4 = purchase_df.loc[purchase_df["Age Group"] == "20-24", :]
count4 = len(only4)
percent4 = len(only4)/totalplayers

# 25 to 29
only5 = purchase_df.loc[purchase_df["Age Group"] == "25-29", :]
count5 = len(only5)
percent5 = len(only5)/totalplayers

# 30 to 34
only6 = purchase_df.loc[purchase_df["Age Group"] == "30-34", :]
count6 = len(only6)
percent6 = len(only6)/totalplayers

# 35 to 39
only7 = purchase_df.loc[purchase_df["Age Group"] == "35-39", :]
count7 = len(only7)
percent7 = len(only7)/totalplayers

# Over 40
only8 = purchase_df.loc[purchase_df["Age Group"] == "40+", :]
count8 = len(only8)
percent8 = len(only8)/totalplayers

#Create the DataFrame
age_df = pd.DataFrame(
    {"": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
     "Total Count": [ count1, count2, count3, count4, count5, count6, count7, count8],
     "Percentage of Players": [ percent1, percent2, percent3, percent4, percent5, percent6, percent7, percent8]
    }
)
age_df

          Total Count  Percentage of Players
0    <10           17               0.029514
1  10-14           22               0.038194
2  15-19          107               0.185764
3  20-24          258               0.447917
4  25-29           77               0.133681
5  30-34           52               0.090278
6  35-39           31               0.053819
7    40+           12               0.020833

In [12]:
#PURCHASING ANALYSIS AGE
#sort the original dataframe so you get a proper purchase count
#create the bins to separate the age group and label the bins
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#add column to dataframe that describes that shows bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=bin_names, include_lowest=True)

In [13]:
#calculate number of purchases, add each price to a list
#set the variables to 0 and then loop through data to count occurances and fill lists
pc1 = 0
pc2 = 0
pc3 = 0
pc4 = 0
pc5 = 0
pc6 = 0
pc7 = 0
pc8 = 0
purchases1 = []
purchases2 = []
purchases3 = []
purchases4 = []
purchases5 = []
purchases6 = []
purchases7 = []
purchases8 = []

for i in range(0, len(purchase_data['Age'])):
    if purchase_data['Age Group'][i] == "<10":
        purchases1.append(purchase_data['Price'][i])
        pc1 += 1
    elif purchase_data['Age Group'][i] == "10-14":
        purchases2.append(purchase_data['Price'][i])
        pc2 += 1
    elif purchase_data['Age Group'][i] == "15-19":
        purchases3.append(purchase_data['Price'][i])
        pc3 += 1
    elif purchase_data['Age Group'][i] == "20-24":
        purchases4.append(purchase_data['Price'][i])
        pc4 += 1
    elif purchase_data['Age Group'][i] == "25-29":
        purchases5.append(purchase_data['Price'][i])
        pc5 += 1
    elif purchase_data['Age Group'][i] == "30-34":
        purchases6.append(purchase_data['Price'][i])
        pc6 += 1
    elif purchase_data['Age Group'][i] == "35-39":
        purchases7.append(purchase_data['Price'][i])
        pc7 += 1
    elif purchase_data['Age Group'][i] == "40+":
        purchases8.append(purchase_data['Price'][i])
        pc8 += 1

#get total purchase value for each age group
sum1 = sum(purchases1)
sum2 = sum(purchases2)
sum3 = sum(purchases3)
sum4 = sum(purchases4)
sum5 = sum(purchases5)
sum6 = sum(purchases6)
sum7 = sum(purchases7)
sum8 = sum(purchases8)

#calculate average purchase price using purchase count and total purchase value
avg1 = sum1/pc1
avg2 = sum2/pc2
avg3 = sum3/pc3
avg4 = sum4/pc4
avg5 = sum5/pc5
avg6 = sum6/pc6
avg7 = sum7/pc7
avg8 = sum8/pc8

#use condensed gendercount variables from gender demographics to calculate per person
avgpp1 = sum1/count1
avgpp2 = sum2/count2
avgpp3 = sum3/count3
avgpp4 = sum4/count4
avgpp5 = sum5/count5
avgpp6 = sum6/count6
avgpp7 = sum7/count7
avgpp8 = sum8/count8

#create Dataframe
aa_df = pd.DataFrame(
    {"Age Group": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
     "Purchase Count": [pc1, pc2, pc3, pc4, pc5, pc6, pc7, pc8],
     "Average Purchase Price": [avg1, avg2, avg3, avg4, avg5, avg6, avg7, avg8],
     "Total Purchase Value": [sum1, sum2, sum3, sum4, sum5, sum6, sum7, sum8],
     "Avg Total Purchase per Person": [avgpp1, avgpp2, avgpp3, avgpp4, avgpp5, avgpp6, avgpp7, avgpp8]
    }
)
aa_df

,Age Group,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,<10,23,3.353478,77.13,4.537059
1,10-14,28,2.956429,82.78,3.762727
2,15-19,136,3.035956,412.89,3.858785
3,20-24,365,3.052219,1114.06,4.318062
4,25-29,101,2.900990,293.00,3.805195
5,30-34,73,2.931507,214.00,4.115385
6,35-39,41,3.601707,147.67,4.763548
7,40+,13,2.941538,38.24,3.186667

In [ ]:
#TOP SPENDERS

In [63]:
#MOST POPULAR ITEMS
#retrieve needed columns
item_data = purchase_data[["Item ID", "Item Name", "Price"]]

purchase_count =item_data["Item ID"].value_counts()
purchase_count = purchase_count.astype(float)
purchase_count.head()

92     13.0
178    12.0
145     9.0
132     9.0
108     9.0
Name: Item ID, dtype: float64

In [71]:
groupedpurchase = item_data.groupby(["Item ID", "Item Name"])
groupedpurchase.count().head()

total_purchase = groupedpurchase["Price"].sum()
total_purchase.head()

purchase_count = groupedpurchase["Price"].count


pop_df = pd.DataFrame(
    groupedpurchase["Price"].sum())

pop_df["Purchase Count"] = purchase_count
pop_df.head()

,,Price,Purchase Count
Item ID,Item Name,,
0,Splinter,5.12,<bound method SeriesGroupBy.count of <pandas.c...
1,Crucifer,11.77,<bound method SeriesGroupBy.count of <pandas.c...
2,Verdict,14.88,<bound method SeriesGroupBy.count of <pandas.c...
3,Phantomlight,14.94,<bound method SeriesGroupBy.count of <pandas.c...
4,Bloodlord's Fetish,8.50,<bound method SeriesGroupBy.count of <pandas.c...